App {
    background-color: #333333;
}

.image {
    display: inline-block;
    background-color: orange;
    margin: 10px;
    text-align: center;
    color: white;
    border: 1px solid orange;
}

.image img {
    height: 200px;
    width: 200px;
}

button {
    margin: 10px;
}